@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .background {
    position: relative;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.75)
      ),
      url("/images/landing-page.jpg");
  }
  .login-background {
    position: relative;
    background-image: url("/images/movies.jpg");
    background-position: center;
    background-size: cover;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 5% 15% 80%;
  }
}

body {
  background-color: #0d0c0f;
  color: white;
}
